/__build*
/__artifacts*
__pycache__

/node_modules
.mypy_cache
clipboard.lua
credentials.json
*private.gpg
*id_rsa
*id_rsa.pub
*.auth
*.ovpn
*.amnezia
*.xray
*.socks
*pip.conf

.gitsecret/keys/random_seed
!*.secret
