/__build*
/__artifacts*
__pycache__

/node_modules
.mypy_cache
credentials.json
credentials.yaml
*private.gpg
*id_rsa
*id_ecdsa
*id_ecdsa_sk
*id_ed25519
*.auth
*.ovpn
*.amnezia
*.xray
*.socks
*pip.conf
*uv.toml

.gitsecret/keys/random_seed
!*.secret
