- name: Configure hosts
  hosts: "{{ hosts_var }}"
  roles:
    - role: profile
    - role: manifest
    - role: basic_utils
    - role: dotfiles
    - role: shell
    - role: clipboard
    - role: git
    - role: tmux
    - role: secrets
    - role: credentials
    - role: shell_utils
    - role: ssh_server
    - role: ssh_client

    - role: ansible
      when: not minimal_mode
    - role: nodejs
      when: not minimal_mode
    - role: ruby
      when: not minimal_mode
    - role: java
      when: not minimal_mode
    - role: dotnet
      when: not minimal_mode
    - role: cpp
      when: not minimal_mode
    - role: rust
      when: not minimal_mode
    - role: zig
      when: not minimal_mode
    - role: go
      when: not minimal_mode
    - role: python
      when: not minimal_mode
    - role: perl
      when: not minimal_mode
    - role: latex
      when: not minimal_mode and false
    - role: lua
      when: not minimal_mode
    - role: nix
      when: not minimal_mode
    - role: neovim
      when: not minimal_mode

    - role: powershell
      when: not minimal_mode
    - role: docker
      when: not minimal_mode
    - role: podman
      when: not minimal_mode

    - role: vpn
      when: not server_mode and not minimal_mode
    - role: keyboard_layouts
      when: not server_mode and not minimal_mode
    - role: fonts
      when: not server_mode and not minimal_mode
    - role: terminals
      when: not server_mode and not minimal_mode
    - role: chrome
      when: not server_mode and not minimal_mode
    - role: telegram
      when: not server_mode and not minimal_mode
    - role: turbovnc
      when: not server_mode and not minimal_mode
    - role: gnome
      when: not server_mode and not minimal_mode

    - role: common_utils
