ansible-core==2.15.4
ansible-lint==6.19.0
black==23.9.1
GitPython==3.1.30 # Temporarily lock this due to a version conflict with PyDriller
graphviz==0.20.1
isort==5.12.0
luadata==1.0.5
lupa==2.0
mypy==1.5.1
PyDriller==2.4.1 # lock PyDriller due to a version mismatch with default git 2.34.1 on Ubuntu
pylint==2.17.5
PyYAML==6.0.1
requests==2.31.0
semver==3.0.1
types-PyYAML==6.0.12.11
types-requests==2.31.0.2
types-urllib3==1.26.25.14
yamlfmt==1.1.1
yamllint==1.32.0
## The following requirements were added by pip freeze:
ansible-compat==4.1.10
astroid==2.15.6
attrs==23.1.0
bracex==2.4
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
cryptography==41.0.3
dill==0.3.7
filelock==3.12.4
gitdb==4.0.10
idna==3.4
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
lazy-object-proxy==1.9.0
lizard==1.17.10
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
mypy-extensions==1.0.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pycparser==2.21
Pygments==2.16.1
pytz==2023.3.post1
referencing==0.30.2
resolvelib==1.0.1
rich==13.5.2
rpds-py==0.10.3
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
smmap==5.0.0
subprocess-tee==0.4.1
tomlkit==0.12.1
types-pytz==2023.3.0.1
typing_extensions==4.7.1
urllib3==2.0.4
wcmatch==8.5
wrapt==1.15.0
