- name: Install openvpn
  become: true
  ansible.builtin.package:
    name: openvpn
# sudo openvpn --config ~/projects/dotfiles/roles/secrets/files/vpn/surfshark_common_estonia_udp.ovpn
#  --auth-user-pass ~/projects/dotfiles/roles/secrets/files/vpn/surfshark.auth
# sudo nmcli c import type openvpn file ~/projects/dotfiles/roles/secrets/files/vpn/surfshark_common_estonia_udp.ovpn
