ansible-core==2.15.4
ansible-lint==6.19.0
black==23.9.1
cmakelang==0.6.13
codespell==2.2.4
isort==5.12.0
lupa==2.0
mypy==1.5.1
neovim==0.3.1
pylint==2.17.5
PyYAML==6.0.1
types-PyYAML==6.0.12.11
yamlfmt==1.1.1
yamllint==1.32.0
## The following requirements were added by pip freeze:
ansible-compat==4.1.10
astroid==2.15.8
attrs==23.1.0
bracex==2.4
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==41.0.5
dill==0.3.7
filelock==3.13.1
greenlet==3.0.1
idna==3.4
Jinja2==3.1.2
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
lazy-object-proxy==1.9.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mccabe==0.7.0
mdurl==0.1.2
msgpack==1.0.7
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pycparser==2.21
Pygments==2.16.1
pynvim==0.4.3
referencing==0.30.2
requests==2.31.0
resolvelib==1.0.1
rich==13.6.0
rpds-py==0.12.0
ruamel.yaml==0.17.40
ruamel.yaml.clib==0.2.8
six==1.16.0
subprocess-tee==0.4.1
tomli==2.0.1
tomlkit==0.12.2
typing_extensions==4.8.0
urllib3==2.0.7
wcmatch==8.5
wrapt==1.15.0
