concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}

permissions: read-all

defaults:
  run:
    shell: bash

jobs:
  lint:
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Flake check
        run: |
          set -x
          diskutil list
          sleep 1
          df $HOME
          df "$HOME" | tail -1 | cut -d " " -f1
          device=$(df "$HOME" | tail -1 | cut -d " " -f1)
          device=$(basename $device)
          sudo iostat -d "$device" 1 2
          iostat -d "$device" 1 2 | grep --invert-match --extended-regexp '^[[:space:]]*$'
          iostat -d "$device" 1 2 | grep --invert-match --extended-regexp '^[[:space:]]*$' | tail -1
          iostat -d "$device" 1 2 | grep --invert-match --extended-regexp '^[[:space:]]*$' | tail -1 | awk '{printf "%f %f", $3 / 1024, $4 / 1024}'

          sleep 1
          bash -x disk_usage.sh
  lint2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Flake check
        run: |
          set -x
          df $HOME
          df "$HOME" | tail -1 | cut -d " " -f1
          device=$(df "$HOME" | tail -1 | cut -d " " -f1)
          iostat -d "$device" 1 2
          iostat -d "$device" 1 2 | grep --invert-match --extended-regexp '^[[:space:]]*$'
          iostat -d "$device" 1 2 | grep --invert-match --extended-regexp '^[[:space:]]*$' | tail -1
          iostat -d "$device" 1 2 | grep --invert-match --extended-regexp '^[[:space:]]*$' | tail -1 | awk '{printf "%f %f", $3 / 1024, $4 / 1024}'

          sleep 1
          bash -x disk_usage.sh


name: dotfiles workflow

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
